# Workflow parameters - running rule all
model_name:
  # - AlexNet
  # - CorNetRT
  # - TwoLayerCNN
  # - FourLayerCNN
  - DyRCNNx4
  # - CordsNet
  # - ResNet20
  # - ResNet18
  # - ResNet1202
  # - ResNet44
seed: "0000"
model_args:
  tsteps: 50
  rctype: 'full'
  dt: 2
  tau: 9
  tff: 10
  trc: 6
  rctype: ['self', 'full', 'pointdepthwise', 'depthpointwise', 'local', 'localdepthwise']
  skip: 'true'
  feedback: 'true'

init_with_pretrained: False

# data_name: imagenet
# data_name: tinyimagenet
data_name: imagenette
# data_name: cifar100
# data_name: cifar10
# data_name: mnist
# data_name: snakenet

# data_group: "snakes"  # imagenet
# data_group: "imagenette"  # imagenet
# data_group: "89"  # mnist
# data_group: "mollusks"  # tinyimagenet
# data_group: "invertebrates"  # cifar100
data_group: "all"

experiment: 
  - response
  - responseffonly
  - duration
  - stability
  - contrast
  - interval

# Training parameters
loss: 
  - CrossEntropyLoss
  - EnergyLoss

