# Workflow parameters - running rule all
model_name: 
  # - AlexNet
  # - CorNetRT
  - DyRCNNx8
  # - CordsNet
  # - ResNet20
  # - ResNet18
  # - ResNet1202
  # - ResNet44
seed: ["6000"] #, "6001", "6002"]
model_args:
  tsteps: 20
  dt: 2
  tau: 5
  tff: 0
  trc: 6
  tsk: 0
  lossrt: 4
  energyloss: 0 #  #0.2
  pattern: '1' #'1011'
  rctype: 'full'
  rctarget: 'output'
  skip: 'true'
  feedback: 'false'
  # dloader: 'ffcv'

category: [
  # 'dsteps',
  # 'idle',
  # 'lossrt',
  # 'tau',
  # 'trc',
  # 'tff',
  # 'tsk',
  # 'rctype',
  # 'rctarget',
  'pattern',
]
# init_with_pretrained: False

# data_name: imagenet
# data_name: tinyimagenet
data_name: imagenette
# data_name: cifar100
# data_name: cifar10
# data_name: mnist
# data_name: snakenet

# data_group: "snakes"  # imagenet
# data_group: "imagenette"  # imagenet
# data_group: "89"  # mnist
# data_group: "mollusks"  # tinyimagenet
# data_group: "invertebrates"  # cifar100
data_group: "all"

experiment: 
  - response
  - responseffonly
  - duration
  - stability
  - contrast
  - interval

# Training parameters
loss: 
  - CrossEntropyLoss
  - EnergyLoss

