# see snakemake profile documentation for details: https://snakemake.readthedocs.io/en/stable/executing/cli.html#profiles

# DON'T CHANGE
executor: slurm

# CHANGE WITH CARE
restart-times: "1"
max-jobs-per-second: "30"
max-status-checks-per-second: "2"
local-cores: 2
latency-wait: "90"
use-conda: "False"
use-singularity: "False"
jobs: "200"
printshellcmds: "True"
keep-going: "True"
rerun-incomplete: "True"
nolock: "True"

# CHANGE AS NEEDED
slurm-logdir: "/home/rg5022/rhythmic_visual_attention/logs/slurm"
slurm-keep-successful-logs: true
slurm-delete-logfiles-older-than: 2 # specify the number of days

default-resources:
  runtime: 30  # .5 hour
  mem_mb: 32000  # 32 GB
  disk_mb: 50000  # 50 GB
  cpus_per_task: 16
  cpu: 16

#############################
# dynamic resources keywords:
#############################
# max(1.5 * input.size_mb, 100)
# attempt * 200

set-resources:

  init_model:
    mem: 16G # use 32GB of memory
    runtime: 60 # run for 60 minutes
    cpus_per_task: 16
    cpu: 16

  test_model:
    mem: 80G * attempt # use 80GB of memory
    # disk: 200G  # 100 GB
    runtime: 60 * attempt 
    gpu: 1 # use one GPU
    cpus_per_task: 16 # use 16 cores
    # constraint: "a100|h100"
    slurm_extra: "'--gres=gpu:1'"

  train_model:
    mem: 80G * attempt # use 80GB of memory
    runtime: 600 * attempt # run for 10 hours
    ntasks: 1 # use one GPU
    # cpu: 32
    cpus_per_gpu: 16 # use 16 cores
    constraint: "a100" # limit to fastest GPU
    slurm_extra: "'--gres=gpu:1'"

  train_model_distributed:
    mem: 120G               
    disk: 400G  # 100 GB
    runtime: 6000             # 100 hours
    cpus_per_gpu: 16          # This sets --cpus-per-task automatically
    # ntasks: 4               # This sets --ntasks-per-node automatically
    # ntasks_per_node: 4      # This sets --ntasks-per-node automatically
    nodes: 1                
    constraint: "a100|h100"
    slurm_extra: "'--ntasks-per-node=4' '--gres=gpu:4'"

  symlink_data_subsets:
    mem: 4000 # use 4GB of memory
    runtime: 10 # run for 30 minutes  
    cpus_per_task: 4

  symlink_data_groups:
    mem: 4000 # use 4GB of memory
    runtime: 10 # run for 30 minutes
    cpus_per_task: 4

  build_ffcv_datasets:
    mem: 120G # use 240GB of memory
    runtime: 120 # run for 24 hours
    cpu: 32
    cpus_per_task: 32

  process_test_data:
    mem: 120G # use 64GB of memory
    runtime: 360 # run for 6 hours
    cpus_per_task: 16
    
  best_checkpoint_to_statedict:
    mem: 16G # use 16GB of memory
    runtime: 15 # run for 30 minutes
    cpus_per_task: 4

  intermediate_checkpoint_to_statedict:
    mem: 16G # use 16GB of memory
    runtime: 15 # run for 30 minutes
    cpus_per_task: 4