# see snakemake profile documentation for details: https://snakemake.readthedocs.io/en/stable/executing/cli.html#profiles

# DON'T CHANGE
executor: slurm

# CHANGE WITH CARE
restart-times: "0"
max-jobs-per-second: "30"
max-status-checks-per-second: "2"
local-cores: 2
latency-wait: "90"
use-conda: "False"
use-singularity: "False"
jobs: "150"
printshellcmds: "True"
keep-going: "True"
rerun-incomplete: "True"
nolock: "True"

# CHANGE AS NEEDED
slurm-logdir: "/home/rg5022/rhythmic_visual_attention/logs/slurm"
slurm-keep-successful-logs: true
slurm-delete-logfiles-older-than: 5 # specify the number of days

default-resources:
  runtime: 60  # 1 hour
  mem_mb: 16000  # 16 GB
  disk_mb: 100000  # 100 GB
  cpus_per_task: 16
  cpu: 16

# dynamic resources keywords
# max(1.5 * input.size_mb, 100)
# attempt * 200

set-resources:

  init_model:
    mem: 16000 # use 16GB of memory
    runtime: 30 # run for 30 minutes
    cpus_per_task: 16
    cpu: 16

  test_model:
    mem: 64000 # use 64GB of memory
    runtime: 360 # run for 6 hours
    gpu: 1 # use one GPU
    cpus_per_task: 16 # use 16 cores
    slurm_extra: "'--gres=gpu:1'"

  # train_model:
  #   mem: 46000 # use 46GB of memory
  #   runtime: 1440 # run for 24 hours
  #   gpu: 1 # use one GPU
  #   cpu: 16
  #   cpus_per_task: 16 # use 16 cores
  #   constraint: "a100|h100" # limit to fast GPUs
  #   slurm_extra: "'--gres=gpu:1'"

  train_model: # distributed
    mem: 32000          # 32GB memory
    runtime: 360        # 6 hours
    cpus_per_task: 32   # 32 CPU cores
    gpus_per_node: 4    # Use 4 GPUs per node
    ntasks: 1           # Single task
    nodes: 1            # Run on a single node
    slurm_extra: "'--gres=gpu:4'"


  symlink_data_subsets:
    mem: 4000 # use 4GB of memory
    runtime: 30 # run for 30 minutes  
    cpus_per_task: 4

  symlink_data_groups:
    mem: 4000 # use 4GB of memory
    runtime: 30 # run for 30 minutes
    cpus_per_task: 4

  build_ffcv_datasets:
    mem: 32000 # use 32GB of memory
    runtime: 240 # run for 4 hours
    cpus_per_task: 8