# see snakemake profile documentation for details: https://snakemake.readthedocs.io/en/stable/executing/cli.html#profiles

# DON'T CHANGE
executor: slurm

# CHANGE WITH CARE
restart-times: "0"
max-jobs-per-second: "30"
max-status-checks-per-second: "2"
local-cores: 2
latency-wait: "90"
use-conda: "False"
use-singularity: "False"
jobs: "150"
printshellcmds: "True"
keep-going: "True"
rerun-incomplete: "True"
nolock: "True"

# CHANGE AS NEEDED
slurm-logdir: "/home/rg5022/rhythmic_visual_attention/logs/slurm"
slurm-keep-successful-logs: true
slurm-delete-logfiles-older-than: 5 # specify the number of days

default-resources:
  runtime: 30  # 1 hour
  mem_mb: 16000  # 16 GB
  disk_mb: 100000  # 100 GB
  cpus_per_task: 16
  cpu: 16

# dynamic resources keywords:
# max(1.5 * input.size_mb, 100)
# attempt * 200

set-resources:

  init_model:
    mem: 16G # use 32GB of memory
    runtime: 30 # run for 30 minutes
    cpus_per_task: 16
    cpu: 16

  test_model:
    mem: 80G # use 80GB of memory
    # disk: 200G  # 100 GB
    runtime: 60 # run for 2 hours
    gpu: 1 # use one GPU
    cpus_per_task: 16 # use 16 cores
    # constraint: "a100|h100"
    slurm_extra: "'--gres=gpu:1'"

  train_model:
    mem: 80G # use 80GB of memory
    runtime: 480 # run for 8 hours
    # mem_mb_per_cpu: 8000  # 80GB total process memory
    ntasks: 1 # use one GPU
    # cpu: 32
    cpus_per_gpu: 16 # use 16 cores
    # constraint: "a100|h100" # limit to fast GPUs
    constraint: "a100" # limit to fast GPUs
    slurm_extra: "'--gres=gpu:1'"

  train_model_distributed:
    mem: 120G               
    disk: 400G  # 100 GB
    runtime: 6000             # 100 hours
    cpus_per_gpu: 16          # This sets --cpus-per-task automatically
    # ntasks: 4               # This sets --ntasks-per-node automatically
    # ntasks_per_node: 4      # This sets --ntasks-per-node automatically
    nodes: 1                
    constraint: "a100|h100"
    slurm_extra: "'--ntasks-per-node=4' '--gres=gpu:4'"

  symlink_data_subsets:
    mem: 4000 # use 4GB of memory
    runtime: 30 # run for 30 minutes  
    cpus_per_task: 4

  symlink_data_groups:
    mem: 4000 # use 4GB of memory
    runtime: 30 # run for 30 minutes
    cpus_per_task: 4

  build_ffcv_datasets:
    # mem: 64000 # use 64GB of memory
    mem: 240000 # use 240GB of memory
    runtime: 1440 # run for 24 hours
    cpu: 32
    cpus_per_task: 32
    # constraint: "a100|h100" # limit to fast GPUs
    # slurm_extra: "'--gres=gpu:1'"

  process_plotting_data:
    mem: 120G # use 64GB of memory
    runtime: 150 # run for 1 hour
    cpus_per_task: 16
    
  plot_adaption:
    mem: 32G # use 64GB of memory
    runtime: 10 # run for 1 hour
    cpus_per_task: 8

  checkpoint_to_statedict:
    mem: 16G # use 16GB of memory
    runtime: 5 # run for 30 minutes
    cpus_per_task: 4